<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
               xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
               xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">
  <resources cache="true">
    <cfg:filters />
    <cfg:extensiongroups>
      <cfg:extensiongroup name="Tridion.EclImport.UI.Editor.SiteEditGroup">
        <cfg:extension target="Tridion.Web.UI.Editors.SiteEdit.Controls.PropertiesBox"> <!-- Tridion.Web.UI.Editors.SiteEdit.Controls.PropertiesBox    Tridion.Web.UI.Editors.SiteEdit.Views.EditView-->
          <cfg:insertafter>Tridion.EclImport.UI.Editor.SiteEditFiles</cfg:insertafter>
        </cfg:extension>
      </cfg:extensiongroup>
    </cfg:extensiongroups>
    <cfg:groups>     
      <cfg:group name="Tridion.EclImport.UI.Editor.SiteEditFiles">
        <cfg:fileset>
          <cfg:file type="script" id="GUIModifier">/Scripts/jsUri.js</cfg:file>
          <cfg:file type="script" id="GUIModifier">/Scripts/ExperienceManager.js</cfg:file>
        </cfg:fileset>
      </cfg:group>
    </cfg:groups>
  </resources>
  <definitionfiles />
  <extensions>
    <ext:editorextensions>
      <ext:editorextension target="CME">
        <ext:editurls />
        <ext:listdefinitions />
        <ext:itemicons />
        <ext:taskbars />
        <ext:commands/>
        <ext:commandextensions />
        <ext:contextmenus>          
        </ext:contextmenus>
        <ext:lists />
        <ext:tabpages />
        <ext:toolbars />
        <ext:ribbontoolbars />
        <ext:extendedareas />
      </ext:editorextension>
      <ext:editorextension target="SiteEdit">
        <ext:editurls />
        <ext:listdefinitions />
        <ext:itemicons />
        <ext:taskbars />
        <ext:commands/>
        <ext:commandextensions />
        <ext:contextmenus />
        <ext:lists />
        <ext:tabpages />
        <ext:toolbars />
        <ext:ribbontoolbars />
        <ext:extendedareas />
      </ext:editorextension>
    </ext:editorextensions>
    <ext:dataextenders />
    <ext:resourceextensions>
      <ext:resourceextension>Tridion.EclImport.UI.Editor.SiteEditGroup</ext:resourceextension>
    </ext:resourceextensions>
  </extensions>
  <commands>   
  </commands>
  <contextmenus />
  <localization>    
  </localization>
  <settings>
    <defaultpage />
    <editurls />
    <listdefinitions/>
    <itemicons />
    <theme>
      <path></path>
      <resourcegroup></resourcegroup>
    </theme>
    <resourceextensions />
    <customconfiguration>     
    </customconfiguration>
  </settings>
</Configuration>




